@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #4B0082;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #4B0082;
}

.App-link {
    color: #4B0082;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Define a class for image zoom on hover */
.image-zoom-on-hover {
    transition: transform 0.3s;
}

.image-zoom-on-hover:hover {
    transform: scale(1.1);
    /* You can adjust the scale value for the desired zoom level */
}

.custom-button {
    background-color: #4B0082;
    /* Default background color */
    transition: background-color 0.3s;


}

.custom-button:hover {
    background-color: #4B0082;
    color: white;
    font-weight: bold;
    border: 1px solid #4B0082;
}

/* custom btn styles */
.customBtn {
    margin-right: 4px;
}

.customBtn:hover {
    color: #4B0082;
}

/* style of icons (size and color) whose i adjust during development  */

.custom-icon1 {
    color: #4B0082;
}

.custom-icon2 {
    color: #4B0082;
}

.custom-icon3 {
    color: #4B0082;
}

.nav-link {
    color: #4B0082;
}

.nav-link:hover {
    color: #4B0082;
}

/* style of  search-icon of header */
.search-icon {
    background: #4B0082
}

.search-icon:hover {
    background: #4B0082;
}